.message-active {
    background-color: rgba(255, 255, 150, 0.29);
}

.message {
    padding: 0 100px;
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.6);
}

.userame-style{
    padding: 6px;
    border-radius: 75%;
    color: rgba(0, 0, 0, 0.6);
}

.message-border{
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

 