.top-toolbar {
    min-height: 86px;
    max-height: 86px;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: thin;
    padding: 0 15px;
    
    > div {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    
    img {
        height: 50px;
        width: 50px;
        border-radius: 75%;
        margin: 0px 0px 0px 10px;
    }

    header {
        div {
            color: rgba(0, 0, 0, 0.6);
            display: flex;
        }
        span:first-child {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: bold;
            max-width: 100px;
            min-width: 100px;
        }
    }    
}
 